# <span style="font-width:bold; font-size: 3rem; color:#2656a3;">**Data Engineering and Machine Learning Operations in Business** </span> <span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Feature Pipeline</span>

## <span style='color:#2656a3'> üóíÔ∏è The notebook is divided into the following sections:
1. Parsing new data.
2. Inserting the new data into the Feature Store.

## <span style='color:#2656a3'> ‚öôÔ∏è Import of libraries and packages

First, we install the Python packages required for this notebook. We'll use the --quiet command after specifying the names of the libraries to ensure a silent installation process. Then, we'll proceed to import all the necessary libraries.

In [1]:
# First we go one back in our directory to access the folder with our functions
%cd ..

# Now we import the functions from the features folder
# This is the functions we have created to generate features for electricity prices and weather measures
from features import electricity_prices, weather_measures 

# We go back into the notebooks folder
%cd notebooks

/Users/camillahannesbo/Documents/AAU/Master - BDS/2. semester/Data Engineering and Machine learning operations in Business/MLOPs-Assignment-
/Users/camillahannesbo/Documents/AAU/Master - BDS/2. semester/Data Engineering and Machine learning operations in Business/MLOPs-Assignment-/notebooks

In [2]:
# Importing the packages for the needed libraries for the Jupyter notebook
import pandas as pd
import requests

# Ignore warnings
import warnings 
warnings.filterwarnings('ignore')

## <span style='color:#2656a3'> ü™Ñ Parsing New Data
We are parsing new data setting `historical` to `False` in order to fetch real-time data. This is done for electricity prices and forecast of renewable energy. 

In order to provide real time weather measures, a weather forecast measure for the next 5 days is being fetched.

There are of course no changes to the calendar data, and therefore no new data is retrieved from it.

### <span style="color:#2656a3;">üí∏ Electricity Prices per day from Energinet

In [3]:
# Fetching non-historical electricity prices for area DK1
electricity_df = electricity_prices.electricity_prices(
    historical=False,
    area=["DK1"]
)

In [4]:
# Display the electricity dataframe
electricity_df

        timestamp                time        date  dk1_spotpricedkk_kwh
0   1714521600000 2024-05-01 00:00:00  2024-05-01               0.36285
1   1714525200000 2024-05-01 01:00:00  2024-05-01               0.36315
2   1714528800000 2024-05-01 02:00:00  2024-05-01               0.36330
3   1714532400000 2024-05-01 03:00:00  2024-05-01               0.32809
4   1714536000000 2024-05-01 04:00:00  2024-05-01               0.35659
5   1714539600000 2024-05-01 05:00:00  2024-05-01               0.33332
6   1714543200000 2024-05-01 06:00:00  2024-05-01               0.31683
7   1714546800000 2024-05-01 07:00:00  2024-05-01               0.20943
8   1714550400000 2024-05-01 08:00:00  2024-05-01               0.06302
9   1714554000000 2024-05-01 09:00:00  2024-05-01               0.00007
10  1714557600000 2024-05-01 10:00:00  2024-05-01              -0.00723
11  1714561200000 2024-05-01 11:00:00  2024-05-01              -0.01805
12  1714564800000 2024-05-01 12:00:00  2024-05-01              -0.01827
13  1714568400000 2024-05-01 13:00:00  2024-05-01              -0.01559
14  1714572000000 2024-05-01 14:00:00  2024-05-01              -0.01536
15  1714575600000 2024-05-01 15:00:00  2024-05-01              -0.01827
16  1714579200000 2024-05-01 16:00:00  2024-05-01              -0.00731
17  1714582800000 2024-05-01 17:00:00  2024-05-01              -0.00075
18  1714586400000 2024-05-01 18:00:00  2024-05-01               0.11426
19  1714590000000 2024-05-01 19:00:00  2024-05-01               0.37590
20  1714593600000 2024-05-01 20:00:00  2024-05-01               0.37292
21  1714597200000 2024-05-01 21:00:00  2024-05-01               0.25366
22  1714600800000 2024-05-01 22:00:00  2024-05-01               0.22315
23  1714604400000 2024-05-01 23:00:00  2024-05-01               0.16408

### <span style="color:#2656a3;">‚òÄÔ∏èüí® Forecast Renewable Energy next day from Energinet

In [5]:
# Fetching non-historical forecast of renewable energy data for area DK1
forecast_renewable_energy_df = electricity_prices.forecast_renewable_energy(
    historical=False,
    area=["DK1"]
)

In [6]:
# Display the forecast_renewable_energy dataframe
forecast_renewable_energy_df

,timestamp,time,date,dk1_offshore_wind_forecastintraday_kwh,dk1_onshore_wind_forecastintraday_kwh,dk1_solar_forecastintraday_kwh
0,1714521600000,2024-05-01 00:00:00,2024-05-01,0.794000,1.710417,0.000170
1,1714525200000,2024-05-01 01:00:00,2024-05-01,0.759667,1.738500,0.000169
2,1714528800000,2024-05-01 02:00:00,2024-05-01,0.688625,1.527958,0.000175
3,1714532400000,2024-05-01 03:00:00,2024-05-01,0.577083,1.347667,0.000189
4,1714536000000,2024-05-01 04:00:00,2024-05-01,0.605792,1.227542,0.000218
5,1714539600000,2024-05-01 05:00:00,2024-05-01,0.590542,1.316083,0.004533
6,1714543200000,2024-05-01 06:00:00,2024-05-01,0.627333,1.346875,0.144934
7,1714546800000,2024-05-01 07:00:00,2024-05-01,0.482625,1.287417,0.366274
8,1714550400000,2024-05-01 08:00:00,2024-05-01,0.474042,1.279458,0.786889
9,1714554000000,2024-05-01 09:00:00,2024-05-01,0.493583,1.367208,1.208868
10,1714557600000,2024-05-01 10:00:00,2024-05-01,0.522458,1.342625,1.197411
11,1714561200000,2024-05-01 11:00:00,2024-05-01,0.566417,1.223500,1.282508
12,1714564800000,2024-05-01 12:00:00,2024-05-01,0.609958,1.231542,1.362772
13,1714568400000,2024-05-01 13:00:00,2024-05-01,0.637292,1.213167,1.375432
14,1714572000000,2024-05-01 14:00:00,2024-05-01,0.662375,1.187667,1.347302
15,1714575600000,2024-05-01 15:00:00,2024-05-01,0.704667,1.169292,1.269182
16,1714579200000,2024-05-01 16:00:00,2024-05-01,0.728542,1.286833,1.147561
17,1714582800000,2024-05-01 17:00:00,2024-05-01,0.744292,1.393458,1.062930
18,1714586400000,2024-05-01 18:00:00,2024-05-01,0.771792,1.502625,0.664276
19,1714590000000,2024-05-01 19:00:00,2024-05-01,0.816250,1.382208,0.272911
20,1714593600000,2024-05-01 20:00:00,2024-05-01,0.848500,1.388583,0.046087
21,1714597200000,2024-05-01 21:00:00,2024-05-01,0.886042,1.554792,0.001339
22,1714600800000,2024-05-01 22:00:00,2024-05-01,0.919417,1.698875,0.000000
23,1714604400000,2024-05-01 23:00:00,2024-05-01,0.934708,1.739375,0.000000

### <span style="color:#2656a3;"> üå§ Weather Measurements from Open Meteo

#### <span style="color:#2656a3;"> üï∞Ô∏è Historical Weather Measures

In [7]:
# Fetching non-historical weather data for area DK1
#historical_weather_df = weather_measures.historical_weather_measures(
#    historical=False
#)

In [8]:
# Display the first 5 rows of the dataframe
#historical_weather_df.head()

#### <span style="color:#2656a3;"> üåà Weather Forecast

In [9]:
# Fetching weather forecast measures for the next 5 days
weather_forecast_df = weather_measures.forecast_weather_measures(
    forecast_length=5
)

In [10]:
# Display the weather_forecast_df dataframe
weather_forecast_df

,timestamp,date,time,temperature_2m,relative_humidity_2m,precipitation,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_gusts_10m
0,1714521600000,2024-05-01,2024-05-01 00:00:00,13.4,70,0.0,0.0,0.0,1,46,20.9,36.4
1,1714525200000,2024-05-01,2024-05-01 01:00:00,12.6,73,0.0,0.0,0.0,0,18,18.0,35.6
2,1714528800000,2024-05-01,2024-05-01 02:00:00,12.0,75,0.0,0.0,0.0,2,54,18.0,31.0
3,1714532400000,2024-05-01,2024-05-01 03:00:00,11.5,76,0.0,0.0,0.0,3,97,19.4,33.1
4,1714536000000,2024-05-01,2024-05-01 04:00:00,11.2,78,0.0,0.0,0.0,3,96,18.0,33.5
...,...,...,...,...,...,...,...,...,...,...,...,...
115,1714935600000,2024-05-05,2024-05-05 19:00:00,13.2,81,0.0,0.0,0.0,3,100,6.1,10.8
116,1714939200000,2024-05-05,2024-05-05 20:00:00,12.3,84,0.0,0.0,0.0,3,100,4.0,8.3
117,1714942800000,2024-05-05,2024-05-05 21:00:00,11.6,86,0.0,0.0,0.0,3,100,3.1,5.8
118,1714946400000,2024-05-05,2024-05-05 22:00:00,11.0,88,0.0,0.0,0.0,3,97,3.1,6.1
119,1714950000000,2024-05-05,2024-05-05 23:00:00,10.6,89,0.0,0.0,0.0,3,94,3.5,6.1

In [11]:
# Converting to float type to align with Hopworks Feature Group as it converts the data to float automatically

# Converting 'relative_humidity_2m', 'weather_code' and 'cloud_cover' columns to float type
weather_forecast_df['relative_humidity_2m'] = weather_forecast_df['relative_humidity_2m'].astype(float)
weather_forecast_df['weather_code'] = weather_forecast_df['weather_code'].astype(float)
weather_forecast_df['cloud_cover'] = weather_forecast_df['cloud_cover'].astype(float)

In [12]:
# Display the first 5 rows of the weather_forecast dataframe
weather_forecast_df.head(5)

,timestamp,date,time,temperature_2m,relative_humidity_2m,precipitation,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_gusts_10m
0,1714521600000,2024-05-01,2024-05-01 00:00:00,13.4,70.0,0.0,0.0,0.0,1.0,46.0,20.9,36.4
1,1714525200000,2024-05-01,2024-05-01 01:00:00,12.6,73.0,0.0,0.0,0.0,0.0,18.0,18.0,35.6
2,1714528800000,2024-05-01,2024-05-01 02:00:00,12.0,75.0,0.0,0.0,0.0,2.0,54.0,18.0,31.0
3,1714532400000,2024-05-01,2024-05-01 03:00:00,11.5,76.0,0.0,0.0,0.0,3.0,97.0,19.4,33.1
4,1714536000000,2024-05-01,2024-05-01 04:00:00,11.2,78.0,0.0,0.0,0.0,3.0,96.0,18.0,33.5

## <span style="color:#2656a3;"> üì° Connecting to Hopsworks Feature Store

We connect to Hopsworks Feature Store so we can access the Feature Groups and upload the new data into the Feature Groups.

In [13]:
# Importing the hopsworks module
import hopsworks

# Logging in to the Hopsworks project
project = hopsworks.login()

# Getting the feature store from the project
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/550040
Connected. Call `.close()` to terminate connection gracefully.

In [14]:
# Retrieve the feature groups
electricity_fg = fs.get_feature_group(
    name="electricity_prices",
    version=1,
)

forecast_renewable_energy_fg = fs.get_feature_group(
    name="forecast_renewable_energy",
    version=1,
)

weather_fg = fs.get_feature_group(
    name="weather_measurements",
    version=1,
)

### <span style="color:#2656a3;"> ‚¨ÜÔ∏è Uploading new data to the Feature Store
Here we upload the new data to the retrieved Feature groups.

In [15]:
# Inserting the electricity_df into the feature group named electricity_fg
electricity_fg.insert(electricity_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 24/24 | Elapsed Time: 00:06 | Remaining Time: 00:00

Launching job: electricity_prices_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/550040/jobs/named/electricity_prices_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x12f545850>, None)

In [18]:
# Inserting the forecast_renewable_energy_df into the feature group named forecast_renewable_energy_fg
forecast_renewable_energy_fg.insert(forecast_renewable_energy_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 24/24 | Elapsed Time: 00:07 | Remaining Time: 00:00

Launching job: forecast_renewable_energy_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/550040/jobs/named/forecast_renewable_energy_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x12f315f50>, None)

In [19]:
# Inserting the weather_df into the feature group named weather_fg
weather_fg.insert(weather_forecast_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 120/120 | Elapsed Time: 00:06 | Remaining Time: 00:00

Launching job: weather_measurements_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/550040/jobs/named/weather_measurements_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x131717b50>, None)

---
## <span style="color:#2656a3;">‚è≠Ô∏è **Next:** Part 03: Traning </span>

Next we will create a feature view and training dataset. Further we will train a model and save it in model registry.