# <span style="font-width:bold; font-size: 3rem; color:#2656a3;">**Data Engineering and Machine Learning Operations in Business** </span> <span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Feature Pipeline</span>

## üóíÔ∏è The notebook is divided into the following sections:
1. Parsing new data.
2. Inserting the new data into the Feature Store.

## <span style='color:#2656a3'> ‚öôÔ∏è Import of libraries and packages

First, we install the Python packages required for this notebook. We'll use the --quiet command after specifying the names of the libraries to ensure a silent installation process. Then, we'll proceed to import all the necessary libraries.

In [5]:
# First we go one back in our directory to access the folder with our functions
%cd ..

# Now we import the functions from the features folder
from features import electricity_prices, weather_measures  # own function# This is functions we have created 

# We go back into the notebooks folder
%cd notebooks

/Users/camillahannesbo/Documents/AAU/Master - BDS/2. semester/Data Engineering and Machine learning operations in Business/MLOPs-Assignment-
/Users/camillahannesbo/Documents/AAU/Master - BDS/2. semester/Data Engineering and Machine learning operations in Business/MLOPs-Assignment-/notebooks

In [6]:
# Importing the packages for the needed libraries for the Jupyter notebook
import pandas as pd
import requests

# Ignore warnings
import warnings 
warnings.filterwarnings('ignore')

## <span style='color:#2656a3'> ü™Ñ Parsing New Data
We are parsing new data setting `historical` to `False` in order to fetch real-time data. This is done for electricity prices and forecast of renewable energy. 

In order to provide real time weather measures, a weather forecast measure for the next 5 days is being fetched.

There are of course no changes to the calendar data, and therefore no new data is retrieved from it.

### <span style="color:#2656a3;">üí∏ Electricity Prices per day from Energinet

In [7]:
# Fetching non-historical electricity prices for area DK1
electricity_df = electricity_prices.electricity_prices(
    historical=False,
    area=["DK1"]
)

In [8]:
# Display the electricity dataframe
electricity_df

        timestamp                time        date  dk1_spotpricedkk_kwh
0   1714089600000 2024-04-26 00:00:00  2024-04-26               0.59572
1   1714093200000 2024-04-26 01:00:00  2024-04-26               0.55193
2   1714096800000 2024-04-26 02:00:00  2024-04-26               0.55343
3   1714100400000 2024-04-26 03:00:00  2024-04-26               0.55246
4   1714104000000 2024-04-26 04:00:00  2024-04-26               0.57505
5   1714107600000 2024-04-26 05:00:00  2024-04-26               0.61891
6   1714111200000 2024-04-26 06:00:00  2024-04-26               0.69738
7   1714114800000 2024-04-26 07:00:00  2024-04-26               0.77614
8   1714118400000 2024-04-26 08:00:00  2024-04-26               0.71647
9   1714122000000 2024-04-26 09:00:00  2024-04-26               0.60474
10  1714125600000 2024-04-26 10:00:00  2024-04-26               0.58035
11  1714129200000 2024-04-26 11:00:00  2024-04-26               0.54410
12  1714132800000 2024-04-26 12:00:00  2024-04-26               0.52471
13  1714136400000 2024-04-26 13:00:00  2024-04-26               0.51270
14  1714140000000 2024-04-26 14:00:00  2024-04-26               0.48757
15  1714143600000 2024-04-26 15:00:00  2024-04-26               0.52150
16  1714147200000 2024-04-26 16:00:00  2024-04-26               0.53478
17  1714150800000 2024-04-26 17:00:00  2024-04-26               0.60012
18  1714154400000 2024-04-26 18:00:00  2024-04-26               0.70021
19  1714158000000 2024-04-26 19:00:00  2024-04-26               0.95925
20  1714161600000 2024-04-26 20:00:00  2024-04-26               1.01854
21  1714165200000 2024-04-26 21:00:00  2024-04-26               0.82044
22  1714168800000 2024-04-26 22:00:00  2024-04-26               0.69148
23  1714172400000 2024-04-26 23:00:00  2024-04-26               0.65829

### <span style="color:#2656a3;">‚òÄÔ∏èüí® Forecast Renewable Energy next day from Energinet

In [9]:
# Fetching non-historical forecast of renewable energy data for area DK1
forecast_renewable_energy_df = electricity_prices.forecast_renewable_energy(
    historical=False,
    area=["DK1"]
)

In [10]:
# Display the forecast_renewable_energy dataframe
forecast_renewable_energy_df

,timestamp,time,date,dk1_offshore_wind_forecastintraday_kwh,dk1_onshore_wind_forecastintraday_kwh,dk1_solar_forecastintraday_kwh
0,1714089600000,2024-04-26 00:00:00,2024-04-26,0.273667,0.481958,0.000082
1,1714093200000,2024-04-26 01:00:00,2024-04-26,0.282958,0.416833,0.000101
2,1714096800000,2024-04-26 02:00:00,2024-04-26,0.343792,0.565417,0.000387
3,1714100400000,2024-04-26 03:00:00,2024-04-26,0.369958,0.628750,0.000387
4,1714104000000,2024-04-26 04:00:00,2024-04-26,0.425750,0.654875,0.000390
5,1714107600000,2024-04-26 05:00:00,2024-04-26,0.430250,0.736875,0.001440
6,1714111200000,2024-04-26 06:00:00,2024-04-26,0.455625,0.812417,0.070292
7,1714114800000,2024-04-26 07:00:00,2024-04-26,0.580625,0.859000,0.211628
8,1714118400000,2024-04-26 08:00:00,2024-04-26,0.552250,0.877083,0.434723
9,1714122000000,2024-04-26 09:00:00,2024-04-26,0.578375,1.031958,0.598046
10,1714125600000,2024-04-26 10:00:00,2024-04-26,0.610250,1.153250,0.701315
11,1714129200000,2024-04-26 11:00:00,2024-04-26,0.609250,1.194000,0.746033
12,1714132800000,2024-04-26 12:00:00,2024-04-26,0.558375,1.179542,0.742559
13,1714136400000,2024-04-26 13:00:00,2024-04-26,0.489417,1.137833,0.741608
14,1714140000000,2024-04-26 14:00:00,2024-04-26,0.428250,1.065542,0.712989
15,1714143600000,2024-04-26 15:00:00,2024-04-26,0.374083,0.968125,0.740813
16,1714147200000,2024-04-26 16:00:00,2024-04-26,0.322542,0.848917,0.666078
17,1714150800000,2024-04-26 17:00:00,2024-04-26,0.297750,0.743667,0.498373
18,1714154400000,2024-04-26 18:00:00,2024-04-26,0.281875,0.633917,0.315199
19,1714158000000,2024-04-26 19:00:00,2024-04-26,0.252208,0.516875,0.129865
20,1714161600000,2024-04-26 20:00:00,2024-04-26,0.226000,0.412667,0.016214
21,1714165200000,2024-04-26 21:00:00,2024-04-26,0.219000,0.358625,0.000525
22,1714168800000,2024-04-26 22:00:00,2024-04-26,0.205958,0.314833,0.000000
23,1714172400000,2024-04-26 23:00:00,2024-04-26,0.178042,0.244625,0.000000

### <span style="color:#2656a3;"> üå§ Weather Measurements from Open Meteo

#### <span style="color:#2656a3;"> üï∞Ô∏è Historical Weather Measures

In [11]:
# Fetching non-historical weather data for area DK1
#historical_weather_df = weather_measures.historical_weather_measures(
#    historical=False
#)

In [12]:
# Display the first 5 rows of the dataframe
#historical_weather_df.head()

#### <span style="color:#2656a3;"> üåà Weather Forecast

In [13]:
# Fetching weather forecast measures for the next 5 days
weather_forecast_df = weather_measures.forecast_weather_measures(
    forecast_length=5
)

In [14]:
# Display the first 5 rows of the weather_forecast dataframe
weather_forecast_df.head(5)

,timestamp,date,time,temperature_2m,relative_humidity_2m,precipitation,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_gusts_10m
0,1714089600000,2024-04-26,2024-04-26 00:00:00,6.4,85,0.1,0.1,0.0,51,49,10.8,21.6
1,1714093200000,2024-04-26,2024-04-26 01:00:00,5.8,87,0.0,0.0,0.0,2,71,10.8,18.4
2,1714096800000,2024-04-26,2024-04-26 02:00:00,5.4,90,0.0,0.0,0.0,3,100,14.8,25.6
3,1714100400000,2024-04-26,2024-04-26 03:00:00,4.9,92,0.0,0.0,0.0,2,74,11.5,19.8
4,1714104000000,2024-04-26,2024-04-26 04:00:00,4.6,92,0.0,0.0,0.0,2,55,13.3,23.8

In [15]:
# Converting to float type to align with Hopworks Feature Group as it converts the data to float automatically

# Converting 'relative_humidity_2m', 'weather_code' and 'cloud_cover' columns to float type
weather_forecast_df['relative_humidity_2m'] = weather_forecast_df['relative_humidity_2m'].astype(float)
weather_forecast_df['weather_code'] = weather_forecast_df['weather_code'].astype(float)
weather_forecast_df['cloud_cover'] = weather_forecast_df['cloud_cover'].astype(float)

In [16]:
# Display the first 5 rows of the weather_forecast dataframe
weather_forecast_df.head(5)

,timestamp,date,time,temperature_2m,relative_humidity_2m,precipitation,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_gusts_10m
0,1714089600000,2024-04-26,2024-04-26 00:00:00,6.4,85.0,0.1,0.1,0.0,51.0,49.0,10.8,21.6
1,1714093200000,2024-04-26,2024-04-26 01:00:00,5.8,87.0,0.0,0.0,0.0,2.0,71.0,10.8,18.4
2,1714096800000,2024-04-26,2024-04-26 02:00:00,5.4,90.0,0.0,0.0,0.0,3.0,100.0,14.8,25.6
3,1714100400000,2024-04-26,2024-04-26 03:00:00,4.9,92.0,0.0,0.0,0.0,2.0,74.0,11.5,19.8
4,1714104000000,2024-04-26,2024-04-26 04:00:00,4.6,92.0,0.0,0.0,0.0,2.0,55.0,13.3,23.8

## <span style="color:#2656a3;"> üì° Connecting to Hopsworks Feature Store

We connect to Hopsworks Feature Store so we can access the Feature Groups and upload the new data into the Feature Groups.

In [17]:
# Importing the hopsworks module
import hopsworks

# Logging in to the Hopsworks project
project = hopsworks.login()

# Getting the feature store from the project
fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/550040
Connected. Call `.close()` to terminate connection gracefully.

In [18]:
# Retrieve the feature groups
weather_fg = fs.get_feature_group(
    name="weather_measurements",
    version=1,
)

electricity_fg = fs.get_feature_group(
    name="electricity_prices",
    version=1,
)

forecast_renewable_energy_fg = fs.get_feature_group(
    name="forecast_renewable_energy",
    version=1,
)

### <span style="color:#2656a3;"> ‚¨ÜÔ∏è Uploading new data to the Feature Store
Here we upload the new data to the retrieved Feature groups.

In [19]:
# Inserting the weather_df into the feature group named weather_fg
weather_fg.insert(weather_forecast_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 120/120 | Elapsed Time: 00:06 | Remaining Time: 00:00

Launching job: weather_measurements_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/550040/jobs/named/weather_measurements_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x138390610>, None)

In [21]:
# Inserting the electricity_df into the feature group named electricity_fg
electricity_fg.insert(electricity_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 24/24 | Elapsed Time: 00:06 | Remaining Time: 00:00

Launching job: electricity_prices_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/550040/jobs/named/electricity_prices_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x1383caa90>, None)

In [22]:
# Inserting the forecast_renewable_energy_df into the feature group named forecast_renewable_energy_fg
forecast_renewable_energy_fg.insert(forecast_renewable_energy_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 24/24 | Elapsed Time: 00:06 | Remaining Time: 00:00

Launching job: forecast_renewable_energy_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/550040/jobs/named/forecast_renewable_energy_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x1382a66d0>, None)

---
## <span style="color:#2656a3;">‚è≠Ô∏è **Next:** Part 03: Traning </span>

Next we will create a feature view and training dataset. Further we will train a model and save it in model registry.