# <span style="font-width:bold; font-size: 3rem; color:#2656a3;">**Data Engineering and Machine Learning Operations in Business** </span> <span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Feature Pipeline</span>

## üóíÔ∏è This notebook is divided into the following sections:
1. Parse new aata.
2. Insert new data into the Feature Store.

## <span style='color:#2656a3'> ‚öôÔ∏è Import of libraries and packages

First, we'll install the Python packages required for this notebook. We'll use the --quiet command after specifying the names of the libraries to ensure a silent installation process. Then, we'll proceed to import all the necessary libraries.

In [1]:
# First we have to go one back in out dictionary so we can find the folder with our functions
%cd ..

# Now you can import the functions from the features folder. 
from features import electricity_prices, weater_measures  # own function# This is functions we have created 

# Go back into the notebooks folder
%cd notebooks

/Users/tobiasmjensen/Documents/aau_bds/m5_data-engineering-and-mlops/exam_assigment/MLOPs-Assignment-
/Users/tobiasmjensen/Documents/aau_bds/m5_data-engineering-and-mlops/exam_assigment/MLOPs-Assignment-/notebooks

In [2]:
# Importing of the packages for the needed libraries for the Jupyter notebook
import pandas as pd
import requests

# Ignore warnings
import warnings 
warnings.filterwarnings('ignore')

## <span style='color:#2656a3'> ü™Ñ Parsing new data

### <span style="color:#2656a3;">üí∏ Electricity prices per day from Energinet

In [3]:
# Fetching non-historical electricity prices
electricity_df = electricity_prices.electricity_prices(
    historical=False,
    area=["DK1"]
)

In [4]:
# Display the dataframe
electricity_df

           timestamp                time        date  dk1_spotpricedkk_kwh
0   1713398400000000 2024-04-18 00:00:00  2024-04-18               0.68515
1   1713402000000000 2024-04-18 01:00:00  2024-04-18               0.65224
2   1713405600000000 2024-04-18 02:00:00  2024-04-18               0.66052
3   1713409200000000 2024-04-18 03:00:00  2024-04-18               0.65478
4   1713412800000000 2024-04-18 04:00:00  2024-04-18               0.66858
5   1713416400000000 2024-04-18 05:00:00  2024-04-18               0.69738
6   1713420000000000 2024-04-18 06:00:00  2024-04-18               0.90935
7   1713423600000000 2024-04-18 07:00:00  2024-04-18               1.16243
8   1713427200000000 2024-04-18 08:00:00  2024-04-18               0.97881
9   1713430800000000 2024-04-18 09:00:00  2024-04-18               0.75446
10  1713434400000000 2024-04-18 10:00:00  2024-04-18               0.67306
11  1713438000000000 2024-04-18 11:00:00  2024-04-18               0.62576
12  1713441600000000 2024-04-18 12:00:00  2024-04-18               0.60166
13  1713445200000000 2024-04-18 13:00:00  2024-04-18               0.57599
14  1713448800000000 2024-04-18 14:00:00  2024-04-18               0.54473
15  1713452400000000 2024-04-18 15:00:00  2024-04-18               0.52749
16  1713456000000000 2024-04-18 16:00:00  2024-04-18               0.52884
17  1713459600000000 2024-04-18 17:00:00  2024-04-18               0.60680
18  1713463200000000 2024-04-18 18:00:00  2024-04-18               0.70156
19  1713466800000000 2024-04-18 19:00:00  2024-04-18               0.93442
20  1713470400000000 2024-04-18 20:00:00  2024-04-18               0.96120
21  1713474000000000 2024-04-18 21:00:00  2024-04-18               0.79027
22  1713477600000000 2024-04-18 22:00:00  2024-04-18               0.67067
23  1713481200000000 2024-04-18 23:00:00  2024-04-18               0.59218

### <span style="color:#2656a3;">‚òÄÔ∏èüí® Forecast Renewable Energy next day from Energinet

In [5]:
# Fetching non-historical forecast data
forecast_renewable_energy_df = electricity_prices.forecast_renewable_energy(
    historical=False,
    area=["DK1"]
)

In [6]:
# Display the dataframe
forecast_renewable_energy_df

,timestamp,time,date,dk1_offshore wind_forecastcurrent_kwh,dk1_offshore wind_forecastdayahead_kwh,dk1_offshore wind_forecastintraday_kwh,dk1_onshore wind_forecastcurrent_kwh,dk1_onshore wind_forecastdayahead_kwh,dk1_onshore wind_forecastintraday_kwh,dk1_solar_forecastcurrent_kwh,dk1_solar_forecastdayahead_kwh,dk1_solar_forecastintraday_kwh
0,1713398400000000,2024-04-18 00:00:00,2024-04-18,0.027042,0.126417,0.027042,0.113292,0.160667,0.113292,0.000000,0.000000,0.000000
1,1713402000000000,2024-04-18 01:00:00,2024-04-18,0.065750,0.129125,0.065750,0.089083,0.150458,0.089083,0.000000,0.000000,0.000000
2,1713405600000000,2024-04-18 02:00:00,2024-04-18,0.063083,0.138625,0.063083,0.119917,0.135833,0.119917,0.000000,0.000000,0.000000
3,1713409200000000,2024-04-18 03:00:00,2024-04-18,0.085958,0.145833,0.085958,0.170125,0.124958,0.170125,0.000000,0.000000,0.000000
4,1713412800000000,2024-04-18 04:00:00,2024-04-18,0.206458,0.161500,0.206458,0.192000,0.125167,0.192000,0.000000,0.000000,0.000000
5,1713416400000000,2024-04-18 05:00:00,2024-04-18,0.171625,0.193375,0.171625,0.208708,0.132333,0.208708,0.000501,0.000548,0.000501
6,1713420000000000,2024-04-18 06:00:00,2024-04-18,0.282375,0.235292,0.282375,0.280833,0.137417,0.280833,0.037888,0.041163,0.037888
7,1713423600000000,2024-04-18 07:00:00,2024-04-18,0.209708,0.251708,0.209708,0.253917,0.138833,0.253917,0.248185,0.280760,0.248185
8,1713427200000000,2024-04-18 08:00:00,2024-04-18,0.198167,0.254833,0.197708,0.189625,0.146500,0.189625,0.567503,0.647533,0.567503
9,1713430800000000,2024-04-18 09:00:00,2024-04-18,0.221292,0.284500,0.240292,0.209708,0.185167,0.208458,0.885447,1.057703,1.045033
10,1713434400000000,2024-04-18 10:00:00,2024-04-18,0.230333,0.317458,0.293958,0.219125,0.217542,0.223208,1.076650,1.381718,1.385900
11,1713438000000000,2024-04-18 11:00:00,2024-04-18,0.229375,0.332958,0.353667,0.249792,0.235167,0.256792,1.208272,1.579063,1.533490
12,1713441600000000,2024-04-18 12:00:00,2024-04-18,0.269458,0.345125,0.377792,0.260250,0.241583,0.269125,1.491503,1.631767,1.572846
13,1713445200000000,2024-04-18 13:00:00,2024-04-18,0.310833,0.355125,0.386417,0.277083,0.262292,0.292375,1.564314,1.624207,1.576472
14,1713448800000000,2024-04-18 14:00:00,2024-04-18,0.365083,0.361833,0.407375,0.303875,0.281583,0.327333,1.510963,1.554798,1.527575
15,1713452400000000,2024-04-18 15:00:00,2024-04-18,0.417250,0.378542,0.468875,0.366667,0.291250,0.392542,1.348219,1.411989,1.336162
16,1713456000000000,2024-04-18 16:00:00,2024-04-18,0.473000,0.410625,0.533208,0.420542,0.303417,0.447542,1.085460,1.154719,1.055917
17,1713459600000000,2024-04-18 17:00:00,2024-04-18,0.492833,0.452000,0.544375,0.436208,0.295000,0.458667,0.739120,0.785373,0.734585
18,1713463200000000,2024-04-18 18:00:00,2024-04-18,0.479042,0.474625,0.513083,0.426625,0.293583,0.442667,0.388904,0.410853,0.391104
19,1713466800000000,2024-04-18 19:00:00,2024-04-18,0.449167,0.475250,0.465958,0.382958,0.284958,0.403042,0.118794,0.126756,0.119537
20,1713470400000000,2024-04-18 20:00:00,2024-04-18,0.387583,0.445292,0.399708,0.332917,0.276042,0.348500,0.006935,0.007500,0.007112
21,1713474000000000,2024-04-18 21:00:00,2024-04-18,0.337958,0.386708,0.344458,0.267292,0.266458,0.285208,0.000183,0.000201,0.000191
22,1713477600000000,2024-04-18 22:00:00,2024-04-18,0.349458,0.350458,0.340917,0.232083,0.257167,0.260042,0.000000,0.000000,0.000000
23,1713481200000000,2024-04-18 23:00:00,2024-04-18,0.391833,0.394583,0.394333,0.220208,0.252708,0.251167,0.000000,0.000000,0.000000

### <span style="color:#2656a3;"> üå§ Weather measurements from Open Meteo

#### <span style="color:#2656a3;"> üï∞Ô∏è Historical Weater Measures

In [7]:
# Fetching non-historical weather data
#historical_weather_df = weater_measures.historical_weater_measures(
#    historical=False
#)

In [8]:
# Display the first 5 rows of the dataframe
#historical_weather_df.head()

#### <span style="color:#2656a3;"> üåà Weater Forecast

In [9]:
# Fetching historical electricity prices data
weather_forecast_df = weater_measures.forecast_weater_measures(
    forecast_length=1
)

In [10]:
# Display the first 5 rows of the dataframe
weather_forecast_df

,timestamp,date,time,temperature_2m,relative_humidity_2m,precipitation,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_gusts_10m
0,1713398400000000,2024-04-18,2024-04-18 00:00:00,6.8,82,0.0,0.0,0.0,3,89,9.7,19.4
1,1713402000000000,2024-04-18,2024-04-18 01:00:00,6.4,84,0.0,0.0,0.0,3,99,9.4,18.4
2,1713405600000000,2024-04-18,2024-04-18 02:00:00,6.2,83,0.0,0.0,0.0,3,100,5.8,19.8
3,1713409200000000,2024-04-18,2024-04-18 03:00:00,5.6,80,0.0,0.0,0.0,3,100,6.5,11.9
4,1713412800000000,2024-04-18,2024-04-18 04:00:00,5.3,82,0.0,0.0,0.0,3,99,8.3,14.8
5,1713416400000000,2024-04-18,2024-04-18 05:00:00,5.6,85,0.0,0.0,0.0,2,72,9.4,16.6
6,1713420000000000,2024-04-18,2024-04-18 06:00:00,6.2,82,0.0,0.0,0.0,1,41,9.7,18.4
7,1713423600000000,2024-04-18,2024-04-18 07:00:00,6.9,67,0.0,0.0,0.0,1,45,9.0,19.8
8,1713427200000000,2024-04-18,2024-04-18 08:00:00,7.9,54,0.0,0.0,0.0,2,63,9.7,21.6
9,1713430800000000,2024-04-18,2024-04-18 09:00:00,8.9,44,0.0,0.0,0.0,1,45,10.4,24.1
10,1713434400000000,2024-04-18,2024-04-18 10:00:00,9.8,42,0.0,0.0,0.0,1,46,9.0,24.5
11,1713438000000000,2024-04-18,2024-04-18 11:00:00,9.3,58,0.0,0.0,0.0,2,53,14.0,32.4
12,1713441600000000,2024-04-18,2024-04-18 12:00:00,10.6,50,0.0,0.0,0.0,2,57,9.7,28.1
13,1713445200000000,2024-04-18,2024-04-18 13:00:00,10.1,57,0.0,0.0,0.0,2,76,13.3,27.0
14,1713448800000000,2024-04-18,2024-04-18 14:00:00,10.6,52,0.0,0.0,0.0,2,77,6.8,26.3
15,1713452400000000,2024-04-18,2024-04-18 15:00:00,10.5,53,0.0,0.0,0.0,2,78,11.2,24.1
16,1713456000000000,2024-04-18,2024-04-18 16:00:00,9.0,57,0.0,0.0,0.0,3,96,12.2,24.5
17,1713459600000000,2024-04-18,2024-04-18 17:00:00,8.0,59,0.0,0.0,0.0,3,98,12.6,25.2
18,1713463200000000,2024-04-18,2024-04-18 18:00:00,7.3,57,0.0,0.0,0.0,3,99,12.2,24.5
19,1713466800000000,2024-04-18,2024-04-18 19:00:00,6.8,54,0.0,0.0,0.0,3,100,11.9,22.7
20,1713470400000000,2024-04-18,2024-04-18 20:00:00,6.5,61,0.0,0.0,0.0,3,98,10.1,20.9
21,1713474000000000,2024-04-18,2024-04-18 21:00:00,6.2,62,0.0,0.0,0.0,3,99,10.1,18.0
22,1713477600000000,2024-04-18,2024-04-18 22:00:00,5.9,62,0.0,0.0,0.0,3,100,10.8,18.7
23,1713481200000000,2024-04-18,2024-04-18 23:00:00,5.2,70,0.0,0.0,0.0,3,100,15.5,28.4

## <span style="color:#2656a3;"> üì° Connecting to Hopsworks Feature Store

First we will connect to Hopsworks Feature Store so we can access and create Feature Groups.

In [ ]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

In [ ]:
# Retrieve feature groups
weather_fg = fs.get_feature_group(
    name="weather_measurements",
    version=1,
)

electricity_fg = fs.get_feature_group(
    name="electricity_prices",
    version=1,
)

forecast_renewable_energy_fg = fs.get_feature_group(
    name="forecast_renewable_energy",
    version=1,
)

### <span style="color:#2656a3;"> ‚¨ÜÔ∏è Uploading new data to the Feature Store

In [ ]:
# Inserting the weather_df into the feature group named weather_fg
weather_fg.insert(weather_forecast_df)

In [ ]:
# Inserting the electricity_df into the feature group named electricity_fg
electricity_fg.insert(electricity_df)

In [ ]:
# Inserting the forecast_renewable_energy_df into the feature group named forecast_renewable_energy_fg
forecast_renewable_energy_fg.insert(forecast_renewable_energy_df)

---
## <span style="color:#2656a3;">‚è≠Ô∏è **Next:** Part 03: Traning </span>

In the next notebook, you will be generating new data for the Feature Groups.