# <span style="font-width:bold; font-size: 3rem; color:#2656a3;">**Data Engineering and Machine Learning Operations in Business** </span> <span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Feature Pipeline</span>

## üóíÔ∏è This notebook is divided into the following sections:
1. Parse new aata.
2. Insert new data into the Feature Store.

## <span style='color:#2656a3'> ‚öôÔ∏è Import of libraries and packages

First, we'll install the Python packages required for this notebook. We'll use the --quiet command after specifying the names of the libraries to ensure a silent installation process. Then, we'll proceed to import all the necessary libraries.

In [1]:
# First we have to go one back in out dictionary so we can find the folder with our functions
%cd ..

# Now you can import the functions from the features folder. 
from features import electricity_prices, weater_measures  # own function# This is functions we have created

/Users/tobiasmjensen/Documents/aau_bds/m5_data-engineering-and-mlops/exam_assigment/MLOPs-Assignment-

In [2]:
# Importing of the packages for the needed libraries for the Jupyter notebook
import pandas as pd
import requests

# Ignore warnings
import warnings 
warnings.filterwarnings('ignore')

## <span style='color:#2656a3'> ü™Ñ Parsing new data

### <span style="color:#2656a3;">üí∏ Electricity prices per day from Energinet

In [3]:
# Fetching non-historical electricity prices
electricity_df = electricity_prices.electricity_prices(
    historical=False,
    area=["DK1"]
)

In [4]:
# Display the first 5 rows of the dataframe
electricity_df.head()

,timestamp,date,time,PriceArea,SpotPriceDKK_KWH
0,1713394800000000,2024-04-17,2024-04-17 23:00:00,DK1,0.65511
2,1713391200000000,2024-04-17,2024-04-17 22:00:00,DK1,0.73889
4,1713387600000000,2024-04-17,2024-04-17 21:00:00,DK1,0.97032
6,1713384000000000,2024-04-17,2024-04-17 20:00:00,DK1,1.26755
8,1713380400000000,2024-04-17,2024-04-17 19:00:00,DK1,1.19309

### <span style="color:#2656a3;">‚òÄÔ∏èüí® Forecast Renewable Energy next day from Energinet

In [5]:
# Fetching non-historical forecast data
forecast_renewable_energy_df = electricity_prices.forecast_renewable_energy(
    historical=False,
    area=["DK1"]
)

In [6]:
# Display the first 5 rows of the dataframe
forecast_renewable_energy_df.head()

,timestamp,date,time,PriceArea,ForecastType,ForecastDayAhead,ForecastIntraday,ForecastCurrent
0,1713394800000000,2024-04-17,2024-04-17 23:00:00,DK1,Offshore Wind,182.416672,160.875000,115.000000
1,1713394800000000,2024-04-17,2024-04-17 23:00:00,DK1,Onshore Wind,142.791672,94.750000,122.916664
2,1713394800000000,2024-04-17,2024-04-17 23:00:00,DK1,Solar,0.000000,0.000000,0.000000
6,1713391200000000,2024-04-17,2024-04-17 22:00:00,DK1,Offshore Wind,202.500000,163.833328,131.291672
7,1713391200000000,2024-04-17,2024-04-17 22:00:00,DK1,Onshore Wind,158.916672,95.458336,116.166664

### <span style="color:#2656a3;"> üå§ Weather measurements from Open Meteo

#### <span style="color:#2656a3;"> üï∞Ô∏è Historical Weater Measures

In [7]:
# Fetching non-historical weather data
historical_weather_df = weater_measures.historical_weater_measures(
    historical=False
)

In [8]:
# Display the first 5 rows of the dataframe
historical_weather_df.head()

,timestamp,date,time,temperature_2m,relative_humidity_2m,precipitation,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_gusts_10m
20088,1713312000000000,2024-04-17,2024-04-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20089,1713315600000000,2024-04-17,2024-04-17 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20090,1713319200000000,2024-04-17,2024-04-17 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20091,1713322800000000,2024-04-17,2024-04-17 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20092,1713326400000000,2024-04-17,2024-04-17 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### <span style="color:#2656a3;"> üåà Weater Forecast

In [9]:
# Fetching historical electricity prices data
weather_forecast_df = weater_measures.forecast_weater_measures(
    forecast_length=1
)

In [10]:
# Display the first 5 rows of the dataframe
weather_forecast_df.head()

,timestamp,date,time,temperature_2m,relative_humidity_2m,precipitation,rain,snowfall,weather_code,cloud_cover,wind_speed_10m,wind_gusts_10m
0,1713312000000000,2024-04-17,2024-04-17 00:00:00,3.8,84,0.0,0.0,0.0,2,76,5.8,9.0
1,1713315600000000,2024-04-17,2024-04-17 01:00:00,3.4,85,0.0,0.0,0.0,3,93,3.2,8.3
2,1713319200000000,2024-04-17,2024-04-17 02:00:00,2.9,88,0.0,0.0,0.0,3,97,2.5,6.5
3,1713322800000000,2024-04-17,2024-04-17 03:00:00,2.5,89,0.0,0.0,0.0,3,95,2.2,4.7
4,1713326400000000,2024-04-17,2024-04-17 04:00:00,2.2,91,0.0,0.0,0.0,3,95,1.8,3.6

## <span style="color:#2656a3;"> üì° Connecting to Hopsworks Feature Store

First we will connect to Hopsworks Feature Store so we can access and create Feature Groups.

In [11]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/554133
Connected. Call `.close()` to terminate connection gracefully.

In [12]:
# Retrieve feature groups
weather_fg = fs.get_feature_group(
    name="weather_measurements",
    version=1,
)

electricity_fg = fs.get_feature_group(
    name="electricity_prices",
    version=1,
)

forecast_renewable_energy_fg = fs.get_feature_group(
    name="forecast_renewable_energy",
    version=1,
)

### <span style="color:#2656a3;"> ‚¨ÜÔ∏è Uploading new data to the Feature Store

In [13]:
# Inserting the weather_df into the feature group named weather_fg
weather_fg.insert(weather_forecast_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 24/24 | Elapsed Time: 00:07 | Remaining Time: 00:00

Launching job: weather_measurements_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/554133/jobs/named/weather_measurements_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x1694ea6d0>, None)

In [14]:
# Inserting the electricity_df into the feature group named electricity_fg
electricity_fg.insert(electricity_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 24/24 | Elapsed Time: 00:08 | Remaining Time: 00:00

Launching job: electricity_prices_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/554133/jobs/named/electricity_prices_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x1695ab610>, None)

In [15]:
# Inserting the forecast_renewable_energy_df into the feature group named forecast_renewable_energy_fg
forecast_renewable_energy_fg.insert(forecast_renewable_energy_df)

Uploading Dataframe: 100.00% |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| Rows 72/72 | Elapsed Time: 00:06 | Remaining Time: 00:00

Launching job: forecast_renewable_energy_1_offline_fg_materialization
Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/554133/jobs/named/forecast_renewable_energy_1_offline_fg_materialization/executions

(<hsfs.core.job.Job at 0x16948a4d0>, None)

---
## <span style="color:#2656a3;">‚è≠Ô∏è **Next:** Part 03: Traning </span>

In the next notebook, you will be generating new data for the Feature Groups.