# <span style="font-width:bold; font-size: 3rem; color:#2656a3;">**Data Engineering and Machine Learning Operations in Business** </span> <span style="font-width:bold; font-size: 3rem; color:#333;">- Part 02: Feature Pipeline</span>

## üóíÔ∏è This notebook is divided into the following sections:
1. Parse new aata.
2. Insert new data into the Feature Store.

## <span style='color:#2656a3'> ‚öôÔ∏è Import of libraries and packages

First, we'll install the Python packages required for this notebook. We'll use the --quiet command after specifying the names of the libraries to ensure a silent installation process. Then, we'll proceed to import all the necessary libraries.

In [1]:
# First we have to go one back in out directory so we can find the folder with our functions
%cd ..

# Now you can import the functions from the features folder. 
from features import electricity_prices, weater_measures  # own function# This is functions we have created 

# Go back into the notebooks folder
%cd notebooks

/Users/tobiasmjensen/Documents/aau_bds/m5_data-engineering-and-mlops/exam_assigment/MLOPs-Assignment-
/Users/tobiasmjensen/Documents/aau_bds/m5_data-engineering-and-mlops/exam_assigment/MLOPs-Assignment-/notebooks

In [2]:
# Importing of the packages for the needed libraries for the Jupyter notebook
import pandas as pd
import requests

# Ignore warnings
import warnings 
warnings.filterwarnings('ignore')

## <span style='color:#2656a3'> ü™Ñ Parsing new data

### <span style="color:#2656a3;">üí∏ Electricity prices per day from Energinet

In [3]:
# Fetching non-historical electricity prices
electricity_df = electricity_prices.electricity_prices(
    historical=False,
    area=["DK1"]
)

In [4]:
# Display the dataframe
electricity_df

           timestamp                time        date  dk1_spotpricedkk_kwh
0   1713744000000000 2024-04-22 00:00:00  2024-04-22               0.58919
1   1713747600000000 2024-04-22 01:00:00  2024-04-22               0.58233
2   1713751200000000 2024-04-22 02:00:00  2024-04-22               0.58524
3   1713754800000000 2024-04-22 03:00:00  2024-04-22               0.59628
4   1713758400000000 2024-04-22 04:00:00  2024-04-22               0.59531
5   1713762000000000 2024-04-22 05:00:00  2024-04-22               0.65283
6   1713765600000000 2024-04-22 06:00:00  2024-04-22               0.79011
7   1713769200000000 2024-04-22 07:00:00  2024-04-22               0.97582
8   1713772800000000 2024-04-22 08:00:00  2024-04-22               0.87636
9   1713776400000000 2024-04-22 09:00:00  2024-04-22               0.72409
10  1713780000000000 2024-04-22 10:00:00  2024-04-22               0.61075
11  1713783600000000 2024-04-22 11:00:00  2024-04-22               0.60613
12  1713787200000000 2024-04-22 12:00:00  2024-04-22               0.57487
13  1713790800000000 2024-04-22 13:00:00  2024-04-22               0.54965
14  1713794400000000 2024-04-22 14:00:00  2024-04-22               0.55308
15  1713798000000000 2024-04-22 15:00:00  2024-04-22               0.55965
16  1713801600000000 2024-04-22 16:00:00  2024-04-22               0.53644
17  1713805200000000 2024-04-22 17:00:00  2024-04-22               0.72215
18  1713808800000000 2024-04-22 18:00:00  2024-04-22               0.88188
19  1713812400000000 2024-04-22 19:00:00  2024-04-22               1.22397
20  1713816000000000 2024-04-22 20:00:00  2024-04-22               1.27552
21  1713819600000000 2024-04-22 21:00:00  2024-04-22               0.97030
22  1713823200000000 2024-04-22 22:00:00  2024-04-22               0.78914
23  1713826800000000 2024-04-22 23:00:00  2024-04-22               0.72364

### <span style="color:#2656a3;">‚òÄÔ∏èüí® Forecast Renewable Energy next day from Energinet

In [5]:
# Fetching non-historical forecast data
forecast_renewable_energy_df = electricity_prices.forecast_renewable_energy(
    historical=False,
    area=["DK1"]
)

In [6]:
# Display the dataframe
forecast_renewable_energy_df

,timestamp,time,date,dk1_offshore_wind_forecastintraday_kwh,dk1_onshore_wind_forecastintraday_kwh,dk1_solar_forecastintraday_kwh
0,1713744000000000,2024-04-22 00:00:00,2024-04-22,0.675500,0.433792,0.000000
1,1713747600000000,2024-04-22 01:00:00,2024-04-22,0.526708,0.457625,0.000000
2,1713751200000000,2024-04-22 02:00:00,2024-04-22,0.277833,0.463417,0.000000
3,1713754800000000,2024-04-22 03:00:00,2024-04-22,0.256792,0.542333,0.000000
4,1713758400000000,2024-04-22 04:00:00,2024-04-22,0.262208,0.579250,0.000000
5,1713762000000000,2024-04-22 05:00:00,2024-04-22,0.299083,0.564042,0.000953
6,1713765600000000,2024-04-22 06:00:00,2024-04-22,0.342708,0.501792,0.069046
7,1713769200000000,2024-04-22 07:00:00,2024-04-22,0.386208,0.549125,0.295341
8,1713772800000000,2024-04-22 08:00:00,2024-04-22,0.415375,0.456250,0.700931
9,1713776400000000,2024-04-22 09:00:00,2024-04-22,0.405208,0.463000,1.170469
10,1713780000000000,2024-04-22 10:00:00,2024-04-22,0.372417,0.475667,1.510893
11,1713783600000000,2024-04-22 11:00:00,2024-04-22,0.322750,0.502042,1.657144
12,1713787200000000,2024-04-22 12:00:00,2024-04-22,0.262708,0.503917,1.685778
13,1713790800000000,2024-04-22 13:00:00,2024-04-22,0.209167,0.522625,1.661442
14,1713794400000000,2024-04-22 14:00:00,2024-04-22,0.197292,0.536708,1.573295
15,1713798000000000,2024-04-22 15:00:00,2024-04-22,0.233417,0.533208,1.406954
16,1713801600000000,2024-04-22 16:00:00,2024-04-22,0.293750,0.488000,1.180695
17,1713805200000000,2024-04-22 17:00:00,2024-04-22,0.322958,0.420333,0.866696
18,1713808800000000,2024-04-22 18:00:00,2024-04-22,0.325375,0.303708,0.515725
19,1713812400000000,2024-04-22 19:00:00,2024-04-22,0.326833,0.193875,0.191673
20,1713816000000000,2024-04-22 20:00:00,2024-04-22,0.315542,0.125833,0.018534
21,1713819600000000,2024-04-22 21:00:00,2024-04-22,0.267667,0.090042,0.000526
22,1713823200000000,2024-04-22 22:00:00,2024-04-22,0.199000,0.069250,0.000000
23,1713826800000000,2024-04-22 23:00:00,2024-04-22,0.151958,0.062083,0.000000

### <span style="color:#2656a3;"> üå§ Weather measurements from Open Meteo

#### <span style="color:#2656a3;"> üï∞Ô∏è Historical Weater Measures

In [ ]:
# Fetching non-historical weather data
#historical_weather_df = weater_measures.historical_weater_measures(
#    historical=False
#)

In [ ]:
# Display the first 5 rows of the dataframe
#historical_weather_df.head()

#### <span style="color:#2656a3;"> üåà Weater Forecast

In [ ]:
# Fetching historical electricity prices data
weather_forecast_df = weater_measures.forecast_weater_measures(
    forecast_length=5
)

In [ ]:
# Display the first 5 rows of the dataframe
weather_forecast_df

## <span style="color:#2656a3;"> üì° Connecting to Hopsworks Feature Store

First we will connect to Hopsworks Feature Store so we can access and create Feature Groups.

In [ ]:
import hopsworks

project = hopsworks.login()

fs = project.get_feature_store()

In [ ]:
# Retrieve feature groups
weather_fg = fs.get_feature_group(
    name="weather_measurements",
    version=1,
)

electricity_fg = fs.get_feature_group(
    name="electricity_prices",
    version=1,
)

forecast_renewable_energy_fg = fs.get_feature_group(
    name="forecast_renewable_energy",
    version=1,
)

### <span style="color:#2656a3;"> ‚¨ÜÔ∏è Uploading new data to the Feature Store

In [ ]:
# Inserting the weather_df into the feature group named weather_fg
weather_fg.insert(weather_forecast_df)

In [ ]:
# Inserting the electricity_df into the feature group named electricity_fg
electricity_fg.insert(electricity_df)

In [ ]:
# Inserting the forecast_renewable_energy_df into the feature group named forecast_renewable_energy_fg
forecast_renewable_energy_fg.insert(forecast_renewable_energy_df)

---
## <span style="color:#2656a3;">‚è≠Ô∏è **Next:** Part 03: Traning </span>

In the next notebook, you will be generating new data for the Feature Groups.